{% block car_number_widget %}
<div class="input_car_number form-control input-lg remove-padding{% if class is defined %} {{class}}{% endif %}">
    <input type="text" class="form-control-flat input-lg input_text" size="5" placeholder="A001AA" maxlength="6" value={{number_part}}>
    <input type="text" class="form-control-flat input-lg input_number remove-padding-l" size="3" placeholder="16" maxlength="3" value={{region_part}}>
    {% set w_attr = {} -%}
    {%- if widget_attr is defined -%}
        {% set w_attr = w_attr|merge(widget_attr) %}
    {%- endif -%}
    {{ form_widget(form, { attr: w_attr, type: 'hidden' }) }}
</div>
{% endblock %}