<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>{% block title %}{% endblock %}</title>



        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <!-- Page JS Plugins CSS go here -->

        {% stylesheets
            '../app/Resources/public/oneui/css/bootstrap.min.css'
            '../app/Resources/public/oneui/css/oneui.css'
            '../app/Resources/public/oneui/css/frame.css'
            '../app/Resources/public/oneui/input_search/input_search.css'
            '../app/Resources/public/oneui/main.css'
            '../app/Resources/public/oneui/calendar.css'
            '../app/Resources/public/oneui/add.css'
            '../app/Resources/public/build/add-company.css'
            '../app/Resources/public/css/style.css'
            '../app/Resources/public/js/plugins/select2/select2.min.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block head %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body id="{{ app.request.attributes.get('_route') }}">

        <div id="page-container" class="side-scroll header-navbar-fixed">


            <!-- Header -->
                {% block header %}{% endblock %}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">

                {% block body %}{% endblock %}
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->

        {% javascripts
            '../app/Resources/public/oneui/js/oneui.min.js'
            '../app/Resources/public/js/underscore-1.8.3.min.js'
            '../app/Resources/public/js/backbone-1.3.3.min.js'
            '../app/Resources/public/oneui/js/pace.min.js'
            '../app/Resources/public/js/jquery.ui.autocomplete.min.js'
            '../app/Resources/public/js/jquery.inputmask.bundle.js'
            '../app/Resources/public/oneui/js/moment.min.js'
            '../app/Resources/public/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js'
            '../app/Resources/public/oneui/js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js'
            '../app/Resources/public/js/plugins/bootstrap-treeview/bootstrap-treeview.min.js'
            '../app/Resources/public/js/plugins/select2/select2.full.min.js'
            '../app/Resources/public/js/plugins/select2/i18n/ru.js'
            '../app/Resources/public/js/plugins/bootstrap-notify/bootstrap-notify.min.js'
            '../app/Resources/public/js/sockjs-1.0.3.js'
            '../app/Resources/public/oneui/main.js'
            '../app/Resources/public/js/add.js'
            '../app/Resources/public/build/add.js'
            '../app/Resources/public/js/queue.js'
            %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block js %}{% endblock %}
        </body>
</html>