<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/css/extjs/theme-triton-all.css" rel="stylesheet">
        <link href="/css/extjs/Admin-all.css" rel="stylesheet">
        <link href="/css/admin/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="/js/extjs/ext-all-debug.js"></script>
        <script src="/js/extjs/locale-ru.js"></script>
        <script src="/js/admin/app.js"></script>
        <script src="/js/admin/Application.js"></script>
    </body>
</html>